*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}

body{
  background: black;
  color: #fff;
}

.header{
  height: 100vh;
  width: 100%;
  padding: 10px 8%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(netflix-img/images/header-image.png);

}

nav{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0;

}

.logo{
  width: 150px;
  cursor: pointer;

}
nav button{
  border: 0;
  outline: 0;
  margin-left: 15px;
  background: #db0001;
  color: #fff;
  padding: 7px 20px ;
  border-radius: 4px;
  cursor: pointer;
  
}
.language_btn{
  display: inline-flex;
  align-items: center;
  border: 1px solid #fff;
  padding: 7px 10px;
  background: transparent;
}

.language_btn img{
  width:10px;
  margin-left: 10px;
}

.header_content{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 100px;
  position: absolute;

}

.header_content h1{
  font-size: 60px;
  line-height: 70px;
  max-width: 650px;
  font-weight: 600;

}

.header_content h3{
  font-weight:400;
  margin-bottom: 20px;

}

.email{
 
  border-radius: 4px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  display:inline-flex;
  background: #fff;


}
.email input{
  flex: 1;
  border: 0; outline: 0;
  margin-left: 20px;
  
  
}

.email button{
  background: #db0001;
  border: 0; outline: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
 
}

.email button:hover{
  background:#b90d13;
}


.feature{
  padding: 50px 12%;
  font-size: 22px;

}

.row{
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 50px 0;

}

.text-col{
  flex-basis: 50%;
  margin-bottom: 20px;

}

.img-col{
  flex-basis: 50%;
  margin-bottom: 20px;

}

.img-col img{
  display: block;
  width: 90%;
  margin: auto;

}

.feature h2{
  font-size: 36px;
  font-weight: 600;
  margin-bottom:20px;
}

.FAQ{
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;

}
.FAQ h2{
  font-weight: 500;
  font-size: 40px;
}

.questions{
  margin: 60px auto;
  width: 100%;
  max-width: 750px;

}
.questions li{
  list-style: none;
  padding: 5px;
  width: 100%;
}
.questions li label{
  display: flex;
  align-items: center;
  background: #303030;
  margin-bottom: 2px;
  position: relative;
  cursor:pointer;
  font-weight: 500;
  padding: 20px;
  font-size: 18px;

}

label::after{
   content: '+';  /*-----for + sign----- */
  font-size: 30px;
  right: 20px;
  transition:transfrom 0.5s ;
  position: absolute;

}

input[type="radio"] {  /*-----for radio button hidden-----*/
  display: none;       
}

.questions .answer{     /*-----for details hidden----*/
  background: #303030;
  text-align: left;
  padding: 0 20px;
  transition: max-heigth 0.5s, padding 0.5s;
  max-height: 0;
  overflow: hidden;

}

/*-----for when we + sign then details comes-----*/

.questions input[type="radio"]:checked +label +.answer{  
     padding: 30px 20px;
  max-height: 600px;
  line-height: 2;

}

/*-----for when we + then it become cross(❌) sign then details comes-----*/
.questions input[type="radio"]:checked +label::after{
  transform:rotate(135deg) ;
}

.FAQ .email{
  max-width: 600px;
  margin: 20px auto 60px;

}
.FAQ small{
  font-size: 16px;

}

.footer{
  padding: 50px 15% 10px;
  border-top: 6px solid #333;
  color: #fafafa;

}

.footer p{
  font-size: 18px;
  margin-bottom:25px;
  font-weight: 200;
}
.footer .col{
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;

}

.footer .col a{
  display: block;
  font-size: 12px;
  color: #777;
  text-decoration: none; 
  margin-bottom:10px;

}

.footer .row{
  align-items: flex-start;
  padding: 10px 0;
}


.footer .language_btn{
  color: white;
  padding: 10px 20px;
  border-radius:3px;
  border-radius: 3px;

}

.copyright{
  font-size: 14px;
  margin: 10px 10px;
 padding-left: 85px;

}

@media only screen and (max-width:600px){
  .logo{
    width:100px;
    }

    nav button{
      padding: 5px 10px;

    }
    nav .language_btn{
      padding: 4px 8px;

    }
    .header_content{
      position: unset;
      transform: none;
      padding-top: 150px;

    }
    .header_content h1{
      font-size: 30px;

    }
    .email button{
      font-size: 12px;
      padding: 10px 15px;

    }
    .text-col, .img-col{
      flex-basis: 100%;
    
    }
    .feature h2{
     font-size: 30px;
    }

    .feature p{
      font-size: 18px;
     }
     .row:nth-child(2), .row:nth-child(4){ /*-------first we have text then images-------- */
      flex-direction: column-reverse;
     }

     .feature .row{
      padding: 10px 0;
     }

     .FAQ h2{
      font-size: 20px;

     }
     .questions{
      font-size: 14px;

     }

     .questions li label{
      padding: 10px;
      font-size: 14px;
     }

     label::after{
      font-size: 22px;
     }

}


